---
import { getCollection } from "astro:content";
import BaseTitle from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "私の Astro 学習ブログ";
const allPosts = await getCollection("posts");
---

<BaseTitle pageTitle={pageTitle}>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseTitle>
