---
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">ホーム</a>
        <a href="/about">概要</a>

        <h1>Astro</h1>
    </body>
</html>
