---
import BaseLayout from "./BaseLayout.astro";
import { fade } from "astro:transitions";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日： {frontmatter.pubDate}</p>
  <p transition:animate={fade({ duration: "2s" })}>{frontmatter.description}</p>
  <p>著者： {frontmatter.author}</p>
  <slot />
</BaseLayout>
